/* 设置圆形头像 */
#ds-reset .ds-avatar img {
    width: 54px; height:54px;   /*设置图像的长和宽*/
    border-radius: 27px;        /*设置图像圆角效果,在这里我直接设置了超过 width/2 的像素，即为圆形了*/
    -webkit-border-radius: 27px;/*圆角效果：兼容webkit浏览器*/
    -moz-border-radius: 27px;
}

/* 所有样式 */
* {
    -webkit-border-radius: 0px !important;
    border-radius: 0px !important;
    box-shadow: inset 0 0 0px #fff !important;
}

/* 喜欢按钮 */
#ds-thread #ds-reset a.ds-like-thread-button {
    border: 1px solid #f3726d;
    background: #fff !important;
    text-shadow: 0 0px 0 #fff !important;
}

/* 点击喜欢后弹出的分享图标 */
.ds-service-link {
    background: url("//static.duoshuo.com/images/service-icons-color-flat.png?v=2") no-repeat;
    _background-image: url("//static.duoshuo.com/images/service-icons-color-flat.gif?v=2");
}

/* 上面那个分享图标我是想改成扁平化的，但是修改了后 */
/* 下面这几个图标的坐标位置属性（多说原生的代码）就无效了，不知道为什么，于是自己手动写上去了 */
#ds-reset .ds-qzone {
    background-position: 0 -128px;
}

#ds-reset .ds-qqt {
    background-position: 0 -64px;
}

#ds-reset .ds-renren {
    background-position: 0 -32px;
}

#ds-reset .ds-kaixin {
    background-position: 0 -80px;
}

#ds-reset .ds-douban {
    background-position: 0 -96px;
}

#ds-reset .ds-baidu {
    background-position: 0 -208px;
}

/* 被顶起来的评论 */
#ds-reset .ds-gradient-bg {
    background: #E9E9E9 !important;
}

/* 评论框默认显示文字样式 */
#ds-thread #ds-reset .ds-textarea-wrapper textarea, #ds-thread #ds-reset .ds-textarea-wrapper .ds-hidden-text {
    font-family: "Microsoft YaHei", Verdana, sans-serif !important;
}

/* 发布评论按钮 */
#ds-thread #ds-reset .ds-post-button {
    font-family: "Microsoft YaHei", Verdana, sans-serif !important;
    border: 0 none !important;
    color: #FFFFFF !important;
    background: none repeat scroll 0 0 #F3726D !important;
    cursor: pointer !important;
    display: inline-block !important;
    text-transform: none !important;
    transition: all 0.3s ease 0s !important;
    -moz-transition: all 0.3s ease 0s !important;
    -webkit-transition: all 0.3s ease 0s !important;
    text-align: center !important;
    text-shadow: 0 0px 0 #fff !important;
}

/* 发布评论按钮  hover */
#ds-thread #ds-reset .ds-post-button:hover {
    background: none repeat scroll 0 0 #303030 !important;
    color: white !important;
}

/* 评论框边框 */
.theme-next #ds-thread #ds-reset .ds-textarea-wrapper {
    border-color: #DEDEDE !important;
}

/* 评论框下面框的边框(好绕啊！) */
#ds-thread #ds-reset .ds-post-toolbar {
    border: 1px solid #DEDEDE !important;
    background: #E9E9E9 !important;
}

/* 昵称 */
#ds-reset .ds-highlight {
    color: #F3726D !important;
}

/* 顶 */
#ds-thread #ds-reset .ds-post-liked a.ds-post-likes {
    color: #F3726D !important;
}

/* 发布旁边的“分享到”图标 */
#ds-reset .ds-service-icon {
    background-image: url("//static.duoshuo.com/images/service-icons-color-flat.png") !important;
    _background-image: url("//static.duoshuo.com/images/service-icons-color-flat.gif") !important;
}

/* 隐藏多说底部的版权 */
#ds-thread #ds-reset .ds-powered-by {
    display: none;
}

/* 最近访客的头像 */
#ds-recent-visitors .ds-avatar img {
    border-radius: 27px !important;
    -webkit-border-radius: 27px !important;
    -moz-border-radius: 27px !important;
}

/* 最近访客的头像 */
#ds-recent-visitors .ds-avatar {
    float: left
}

#ds-thread #ds-reset .ds-sort {
  display: block !important;
}
/*博主标记 CSS开始*/
.sskadmin {
  background-color: #00a67c !important;
  border-color: #01b171 !important;
  border-radius: 4px;
  padding: 0 5px !important;
  opacity: 1;
}
/*博主标记 CSS结束*/
/*多说UA开始*/
span.ua {
  margin: 0 1px !important;
  color: #fff !important;
/*text-transform: Capitalize!important;
  float: right!important;
  line-height: 18px!important;*/
}
.ua_other.os_other {
  background-color: #ccc !important;
  color: #fff;
  border: 1px solid #bbb !important;
  border-radius: 4px;
}
.ua_ie {
  background-color: #428bca !important;
  border-color: #357ebd !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.ua_firefox {
  background-color: #f0ad4e !important;
  border-color: #eea236 !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.ua_maxthon {
  background-color: #7373b9 !important;
  border-color: #7373b9 !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.ua_ucweb {
  background-color: #ff740f !important;
  border-color: #d43f3a !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.ua_sogou {
  background-color: #78ace9 !important;
  border-color: #4cae4c !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.ua_2345explorer {
  background-color: #2478b8 !important;
  border-color: #4cae4c !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.ua_2345chrome {
  background-color: #f9d024 !important;
  border-color: #4cae4c !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.ua_mi {
  background-color: #ff4a00 !important;
  border-color: #4cae4c !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.ua_lbbrowser {
  background-color: #fc9d2e !important;
  border-color: #4cae4c !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.ua_chrome {
  background-color: #ee6252 !important;
  border-color: #4cae4c !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.ua_qq {
  background-color: #3d88a8 !important;
  border-color: #4cae4c !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.ua_apple {
  background-color: #e95620 !important;
  border-color: #4cae4c !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.ua_opera {
  background-color: #d9534f !important;
  border-color: #d43f3a !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.os_vista,
.os_2000,
.os_windows,
.os_xp,
.os_7,
.os_8,
.os_8_1 {
  background-color: #39b3d7 !important;
  border-color: #46b8da !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.os_android {
  background-color: #98c13d !important;
  border-color: #01b171 !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.os_ubuntu {
  background-color: #dd4814 !important;
  border-color: #01b171 !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.os_linux {
  background-color: #3a3a3a !important;
  border-color: #1f1f1f !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.os_mac {
  background-color: #666 !important;
  border-color: #1f1f1f !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.os_unix {
  background-color: #060 !important;
  border-color: #1f1f1f !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.os_nokia {
  background-color: #014485 !important;
  border-color: #1f1f1f !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
/*多说UA结束*/
